.list li{
    margin: 0 10px;
    flex: 0 1 auto;
    align-items: center;
    display: flex;
}

ul{
    display: flex;
}

.list li:not(.logo){
    padding: 0 2em;
    background-color: beige;
}

.list li:not(.logo):hover{
    background-color: orange;
}

header .list {
    background-color: yellow;
    padding: 0 2em;
    height: 50px;
}

body{
    margin: 0;
    font-family: sans-serif;
    font-size: 15px;
}

header .logo{
    width: 30px;
    margin-left: 0;
}

a {
    line-height: 50px;
    text-decoration: none;
    color: blue;
}

header .right{
    margin-left: auto;    
}