.example-1 ~ :not(p){
    color: blueviolet;
}

.first h2 ~:not(p){
    color: red;
}

.second h2 + p{
    color: coral;
}

body h4 ~ p span {
    color: blue;
}


.example-1.example-2 > .children-2{
    color: yellowgreen;
}