:root{
    --margin-top: 10px;
    --margin-right: 10px;
    --margin-bottom: 10px;
    --margin-left: 10px;
}

body {
    margin: 0; padding: 0;
}

.margin-1{
    margin: var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);
    margin: 10px 10px 10px 10px;

    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.padding-1{
    padding: var(--margin-bottom) var(--margin-left) var(--margin-right) var(--margin-top);
    padding: 10px 10px 10px 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-inline: 10px;
}


