.line-1 {
    color: #0F0;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    font-family: 'Franklin Gothic Medium', serif;
}

.line-2{
    color: rgb(160, 91, 91);
    background-color: #00f;
}

.line-3{
    color: rgb(2, 28, 1);
    background-color: rgb(234, 237, 6);
}

.line-4{
    color: rgb(126, 244, 118);
    font-family: 'Arial Narrow Bold', serif;
    text-align: center;
    background-color: rgb(255, 153, 0);
}

.line-5 {color: rgb(18, 238, 44);}

.line-6 {
    color: rgb(10, 24, 9);
    background-color: chocolate;
    font-size: 40px;
    font-weight: 100;
    text-align: center;
}

.text-1{
    font-size: 50px;
    font-weight: 100;
    font-family: Verdana, serif;
    text-align: center;
}

.rebeccapurple{
    color: rebeccapurple;
    font-size: 20px;
}

.line-7{
    color: brown;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', serif;
}

.color-red{
    background-color: red;
    color: royalblue;
    font-family: 'Times New Roman', sans-serif;
}

.line-8{
    font-size: 120px;
    color: rgb(10, 46, 0);
}

.line-9{
    font-size: 40px;
    color: rgb(73, 249, 4);
    font-family: Cambria, serif;
    background-color: rgb(233, 23, 107);
}

.text-2{
background-color: blueviolet;
font-family: Impact, sans-serif;
}

.text-3{
background-color: violet;
color: antiquewhite;
font-family: 'Arial Narrow Bold', sans-serif;
}

.text-4{
    font-size: 50px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', serif;
    background-color: yellow;
    color: tomato;
}

.text-5{
    font-size: 30px;
    font-weight: 50;
    font-family: 'Arial Narrow', sans-serif;
    text-align: center;
    background-color: yellowgreen;
}

.text-6{ 
    font-size: 10px;
    font-weight: 20;
    font-family: 'Arial', sans-serif;
    text-align: right;
    background-color: rgb(247, 102, 102);
}

.text-7{ 
    font-size: 30px;
    font-weight: 50;
    font-family: 'Arial Narrow Bold', serif;
    text-align: center;
    background-color: rgb(9, 248, 228);
}

.text-8{ 
    font-size: 70px;
    font-weight: 30;
    font-family: 'Arial Narrow Bold', sans-serif;
    background-color: #00f;
}