body, html{
    margin: 0;
}

.image img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.text{
    position: absolute;
    top: 30%;
    font-family: 'Arial Narrow Bold', serif;
    display: flex;
    color: yellow;
}

.text1{
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin-left: 100px;
    align-items: center;
    width: 100%;
    height: 100%;
}

.paragraph{
    position: absolute;
    top: 40%;
    font-family: 'Arial Narrow Bold', serif;
    display: flex;
    color:rgb(180, 216, 2);
}

.text2{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    vertical-align: middle;
}

.button{
    top: 55%;
    right: 42%;
    font-family: 'Arial Narrow Bold', serif;
    display: flex;
    position: absolute;
    border: none;
}

.click{
    position: relative;
    color: rgb(0, 39, 0);
    align-items: center;
    display: flex;
    font-family: 'Arial Narrow Bold', serif;
    border-radius: 15px;
    background-color: rgb(181, 198, 96);
    padding: 0 40px;
}