.text{
    height: 1200px;
    background-color: orange;
}

.fixed-text{
    position: fixed;
    top: 20px;
    background-color: orangered;
    border: 2px solid green;
}
.sticky-text {
    background-color: yellow;
    border: 2px solid green;
    position: sticky;
    top: 250px;
    right: 0px;
    display: block;
    margin-left: auto;
    
}
.sticky-text h1{
    background-color: yellow;
    text-align: right;
 }
.nested-button{
    position: relative;
    top: 100px;
    right: -1200px;
    background-color: blueviolet;
    border-radius: 15px;
}
.nested-button .button3{
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 5px;
    border: 2px solid red;
    background-color: palevioletred;
}

.fixed-button{
    position: fixed;
    top: 450px;
}

.fixed-button button{
    background-color: violet;
    border-radius: 15px;
}