body{
    background-color: grey;
}

.container{
    width: 800px;
    margin: 0px auto;
    background-color: white;
    padding: 20px;
    border: 2px solid black;
}

.box1{
    background-color:grey;
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid black ;
}

.box2{
    margin: 10px 20px;
    padding: 15px;
    background-color: yellow;
}

.box3{
    margin: 0px;
    padding: 20px;
    background-color: grey;
    border: 2px solid black;
}

.box3-1{
    margin: 10px;
    padding: 15px;
    border: 2px dashed black
}

.box3-2{
    margin: 10px;
    padding: 15px;
    border: 2px dashed black
}