body{
    background-color: rgb(222, 220, 220);
    height: 100%;
    font-family: sans-serif;
}

.card{
    background-color: white;
    padding: 15px 20px 25px 20px;
    width: 340px;
    margin-left: 35%;
    margin-top: 200px;
    justify-content: center;
}

.card h1{
    margin-bottom: 30px;
    margin-top: 15px;
}

.card p:not(.terms){
    margin-bottom: 5px;
    font-size: 15px;
}

.card .terms{
    font-size: 15px;
}

.card input{
    border-radius: 5px;
    outline: none;
    align-items: center;
}

.card input:not(.text1){
    width: 100%;
    border: 1px solid #999;
    box-sizing: border-box;
    padding: 4px 8px;
}

.card input:not(.text1):focus{
    box-shadow: 0 0 0 5px rgba(59, 131, 246, 0.46);
}

.card .text1{
    margin-top: 10px;
}

.card button{
    background-color: rgb(59 130 246);
    width: 100%;
    border: none;
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
}

.card button:hover{
    background-color: rgb(93, 93, 251);
    cursor: pointer;
}

.card .text1{
    display: flex;
    justify-content: flex-start;
    padding: 1% 0;
    align-items: center;
}