.prop-1 {
    min-height: 100px;
    max-height: 100px;
    height: 100px;
    min-width: 100px;
    max-width: 100px;
}

.border-1{
    /* method 1*/
    border: red 10px solid;

    /* method 2*/
    border-color: red;
    border-width: 10px;
    border-style: solid;

    /* method 3*/  
    border-top: red 10px solid;
    border-right: red 10px solid;
    border-bottom: red 10px solid;
    border-left: red 10px solid;

    /* method 4*/
    border-top-color: red;
    border-top-width: 10px;
    border-top-style: solid;
    border-right-color: red;
    border-right-width: 10px;
    border-right-style: solid;
    border-bottom-color: red;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-left-color: red;
    border-left-width: 10px;
    border-left-style: solid;

    /* radius */
    border-radius: 10px;

    border-top-left-radius: 10px;

    border-bottom-right-radius: 10px;

    }

.text-shadow{
    text-shadow: 20px 17px 4px red;
}

.box-shadow{
    /*one*/
    box-shadow: 10px 10px 5px blue;

    /*another*/
    box-shadow: 10px 10px 5px blue inset;
    padding: 10px;
}